.c_dock{
	margin-bottom: rem(48px);

	.swiper-wrapper{
		max-height: rem(160px);

		.swiper-slide{
			width: rem(160px);
			display: flex;
			justify-content: center;
			-webkit-justify-content: center;

			.c_note--Parent{
				width: rem(160px);
				height: rem(160px);
			}			
		}
	}
}