.c_dock{
	margin-bottom: rem(24px); //space between the dock and the pad

	.swiper-wrapper{
		max-height: rem(90px);

		.swiper-slide{
			//width: rem(200px);
			display: flex;
			justify-content: center;
			-webkit-justify-content: center;

			.o_hash{
				width: rem(90px);
				//height is controlled by swiper-wrapper height	

				img{
					width: 100%;
					height: 100%;
				}
			}

			.c_note--Parent{
				width: rem(90px);
				//height is controlled by swiper-wrapper//
			}			
		}
	}
}