%note{
	$note-size: rem(320px);
	
	width: $note-size;
	height: $note-size;
	margin: 0 auto;

	background-color: $color-white;
	position: relative;
	border-radius: 1px;

	.note_handle{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 20%;
		background-image: url('../images/blk-hash.png');
		background-size: 20%;
		background-repeat: repeat-x;
	}

	.note_content{
		/*dunno if we'll actually need to do anything here */
	}

	.note_content#simple-board{
		box-sizing: border-box;
		
		position: absolute;

		height: auto;
		width: auto;

		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

	}
}

.c_note--Parent{
	@extend %note;
	background-color: $color-blue;
}

.c_note--Child{
	@extend %note;
	background-color: $color-yellow;
	z-index: 12;

	&.is-pointer-down{
		background-color: rgba($color-yellow,0.8);

		&.is-dragging{
			background-color: rgba($color-yellow,0.4);
		}
	}
}