.c_top-nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: rem(48px);
	z-index: 12;

	padding: rem(6px) 0;
	background-color: $color-grey-1;

	>*{
		position: absolute;
	}

	p{
		left: rem(12px);
		line-height: rem(36px);
	}

	button{
		width: rem(36px);
		height: rem(36px);
		background-color: transparent;
	}

	button.top-nav_grid{
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
	}

	button.top-nav_gear{
		right: rem(12px);
	}
}