$color-white: rgb(255,255,255);
$color-black: rgb(0,0,0);

$color-grey-1: rgb(30,26,27);

$color-yellow: rgb(255,242,122);
$color-blue: rgb(130,243,243);


$font-family: 'Roboto Mono', 'Inconsolas Mono', monospace;

$dock-unit-size: rem(90px);